@font-face {
  font-family: 'lsfontset';
  src: url('../font/lsfontset.eot?34993828');
  src: url('../font/lsfontset.eot?34993828#iefix') format('embedded-opentype'),
       url('../font/lsfontset.woff2?34993828') format('woff2'),
       url('../font/lsfontset.woff?34993828') format('woff'),
       url('../font/lsfontset.ttf?34993828') format('truetype'),
       url('../font/lsfontset.svg?34993828#lsfontset') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lsfontset';
    src: url('../font/lsfontset.svg?34993828#lsfontset') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "lsfontset";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-lsi--ellipsis:before { content: '\e800'; } /* '' */
.icon-lsi-add-drive:before { content: '\e801'; } /* '' */
.icon-lsi-add-folder:before { content: '\e802'; } /* '' */
.icon-lsi-add:before { content: '\e803'; } /* '' */
.icon-lsi-add2:before { content: '\e804'; } /* '' */
.icon-lsi-alertnotification:before { content: '\e805'; } /* '' */
.icon-lsi-annotate-(2):before { content: '\e806'; } /* '' */
.icon-lsi-annotate:before { content: '\e807'; } /* '' */
.icon-lsi-applications:before { content: '\e808'; } /* '' */
.icon-lsi-auth:before { content: '\e809'; } /* '' */
.icon-lsi-back:before { content: '\e80b'; } /* '' */
.icon-lsi-bell:before { content: '\e80c'; } /* '' */
.icon-lsi-blankdoc:before { content: '\e80d'; } /* '' */
.icon-lsi-box:before { content: '\e80e'; } /* '' */
.icon-lsi-brokenlink:before { content: '\e80f'; } /* '' */
.icon-lsi-camera-(2):before { content: '\e811'; } /* '' */
.icon-lsi-camera:before { content: '\e812'; } /* '' */
.icon-lsi-catalog:before { content: '\e813'; } /* '' */
.icon-lsi-channel:before { content: '\e814'; } /* '' */
.icon-lsi-check2:before { content: '\e815'; } /* '' */
.icon-lsi-checkin:before { content: '\e816'; } /* '' */
.icon-lsi-checkout:before { content: '\e817'; } /* '' */
.icon-lsi-code:before { content: '\e818'; } /* '' */
.icon-lsi-columnview:before { content: '\e819'; } /* '' */
.icon-lsi-coma:before { content: '\e81a'; } /* '' */
.icon-lsi-completed:before { content: '\e81b'; } /* '' */
.icon-lsi-curves:before { content: '\e81c'; } /* '' */
.icon-lsi-data-(2):before { content: '\e81d'; } /* '' */
.icon-lsi-data:before { content: '\e81e'; } /* '' */
.icon-lsi-detailtileview:before { content: '\e81f'; } /* '' */
.icon-lsi-doublepannel:before { content: '\e820'; } /* '' */
.icon-lsi-down-arrow_1:before { content: '\e821'; } /* '' */
.icon-lsi-download-file:before { content: '\e823'; } /* '' */
.icon-lsi-download:before { content: '\e824'; } /* '' */
.icon-lsi-driver:before { content: '\e825'; } /* '' */
.icon-lsi-edit:before { content: '\e826'; } /* '' */
.icon-lsi-edit2:before { content: '\e827'; } /* '' */
.icon-lsi-ejectrive:before { content: '\e828'; } /* '' */
.icon-lsi-excel:before { content: '\e829'; } /* '' */
.icon-lsi-expand:before { content: '\e82a'; } /* '' */
.icon-lsi-experiment:before { content: '\e82b'; } /* '' */
.icon-lsi-export:before { content: '\e82c'; } /* '' */
.icon-lsi-filter:before { content: '\e82d'; } /* '' */
.icon-lsi-flask:before { content: '\e82e'; } /* '' */
.icon-lsi-folder-upload:before { content: '\e82f'; } /* '' */
.icon-lsi-folder:before { content: '\e830'; } /* '' */
.icon-lsi-form:before { content: '\e831'; } /* '' */
.icon-lsi-form3:before { content: '\e832'; } /* '' */
.icon-lsi-form4:before { content: '\e833'; } /* '' */
.icon-lsi-form5:before { content: '\e834'; } /* '' */
.icon-lsi-form6:before { content: '\e835'; } /* '' */
.icon-lsi-fov:before { content: '\e836'; } /* '' */
.icon-lsi-group-level:before { content: '\e837'; } /* '' */
.icon-lsi-groups:before { content: '\e838'; } /* '' */
.icon-lsi-guide:before { content: '\e839'; } /* '' */
.icon-lsi-hierarchy:before { content: '\e83a'; } /* '' */
.icon-lsi-imageholder:before { content: '\e83b'; } /* '' */
.icon-lsi-info:before { content: '\e83c'; } /* '' */
.icon-lsi-instrumentation:before { content: '\e83e'; } /* '' */
.icon-lsi-latticegrid:before { content: '\e83f'; } /* '' */
.icon-lsi-left-arrow_1:before { content: '\e840'; } /* '' */
.icon-lsi-levels:before { content: '\e842'; } /* '' */
.icon-lsi-library:before { content: '\e843'; } /* '' */
.icon-lsi-link:before { content: '\e844'; } /* '' */
.icon-lsi-list-filter:before { content: '\e845'; } /* '' */
.icon-lsi-list-search:before { content: '\e846'; } /* '' */
.icon-lsi-list-view:before { content: '\e847'; } /* '' */
.icon-lsi-lists:before { content: '\e848'; } /* '' */
.icon-lsi-listsearch:before { content: '\e849'; } /* '' */
.icon-lsi-lock:before { content: '\e84a'; } /* '' */
.icon-lsi-logo-icon:before { content: '\e84b'; } /* '' */
.icon-lsi-logo:before { content: '\e84c'; } /* '' */
.icon-lsi-magnify:before { content: '\e84d'; } /* '' */
.icon-lsi-menu:before { content: '\e84e'; } /* '' */
.icon-lsi-message:before { content: '\e84f'; } /* '' */
.icon-lsi-microscope:before { content: '\e850'; } /* '' */
.icon-lsi-minus_1:before { content: '\e851'; } /* '' */
.icon-lsi-move:before { content: '\e852'; } /* '' */
.icon-lsi-moveto:before { content: '\e853'; } /* '' */
.icon-lsi-multiplegears:before { content: '\e854'; } /* '' */
.icon-lsi-new-folder:before { content: '\e855'; } /* '' */
.icon-lsi-nih:before { content: '\e856'; } /* '' */
.icon-lsi-nodetree:before { content: '\e857'; } /* '' */
.icon-lsi-notebooks:before { content: '\e858'; } /* '' */
.icon-lsi-openfolder:before { content: '\e859'; } /* '' */
.icon-lsi-pages:before { content: '\e85a'; } /* '' */
.icon-lsi-pdf:before { content: '\e85b'; } /* '' */
.icon-lsi-plate:before { content: '\e85c'; } /* '' */
.icon-lsi-plots:before { content: '\e85d'; } /* '' */
.icon-lsi-plugins:before { content: '\e85e'; } /* '' */
.icon-lsi-plus-magnify:before { content: '\e85f'; } /* '' */
.icon-lsi-point-select:before { content: '\e860'; } /* '' */
.icon-lsi-polus:before { content: '\e861'; } /* '' */
.icon-lsi-powerpoint:before { content: '\e862'; } /* '' */
.icon-lsi-preview:before { content: '\e863'; } /* '' */
.icon-lsi-print:before { content: '\e864'; } /* '' */
.icon-lsi-project:before { content: '\e865'; } /* '' */
.icon-lsi-projects:before { content: '\e866'; } /* '' */
.icon-lsi-publications:before { content: '\e867'; } /* '' */
.icon-lsi-quality-check:before { content: '\e868'; } /* '' */
.icon-lsi-rack:before { content: '\e869'; } /* '' */
.icon-lsi-readmore:before { content: '\e86a'; } /* '' */
.icon-lsi-research-teams:before { content: '\e86b'; } /* '' */
.icon-lsi-reserve:before { content: '\e86c'; } /* '' */
.icon-lsi-right-arrow_1:before { content: '\e86d'; } /* '' */
.icon-lsi-sample:before { content: '\e86f'; } /* '' */
.icon-lsi-save:before { content: '\e870'; } /* '' */
.icon-lsi-search:before { content: '\e871'; } /* '' */
.icon-lsi-selecter3:before { content: '\e873'; } /* '' */
.icon-lsi-selectiontool:before { content: '\e874'; } /* '' */
.icon-lsi-sendto:before { content: '\e875'; } /* '' */
.icon-lsi-sessions:before { content: '\e876'; } /* '' */
.icon-lsi-settings:before { content: '\e877'; } /* '' */
.icon-lsi-share:before { content: '\e878'; } /* '' */
.icon-lsi-slide:before { content: '\e87b'; } /* '' */
.icon-lsi-sort:before { content: '\e87c'; } /* '' */
.icon-lsi-star:before { content: '\e87d'; } /* '' */
.icon-lsi-storage:before { content: '\e87e'; } /* '' */
.icon-lsi-structures:before { content: '\e87f'; } /* '' */
.icon-lsi-structuresdashboard:before { content: '\e880'; } /* '' */
.icon-lsi-tile-view:before { content: '\e881'; } /* '' */
.icon-lsi-tools:before { content: '\e882'; } /* '' */
.icon-lsi-trash:before { content: '\e883'; } /* '' */
.icon-lsi-undo:before { content: '\e884'; } /* '' */
.icon-lsi-unlock:before { content: '\e885'; } /* '' */
.icon-lsi-up-arrow_1:before { content: '\e886'; } /* '' */
.icon-lsi-upload:before { content: '\e888'; } /* '' */
.icon-lsi-user:before { content: '\e889'; } /* '' */
.icon-lsi-view:before { content: '\e88a'; } /* '' */
.icon-lsi-warning:before { content: '\e88b'; } /* '' */
.icon-lsi-word_1:before { content: '\e88c'; } /* '' */
.icon-lsi-word:before { content: '\e88d'; } /* '' */
.icon-lsi-workflow:before { content: '\e88e'; } /* '' */
.icon-lsi-shelf:before { content: '\e892'; } /* '' */
.icon-lsi-shelf2:before { content: '\e893'; } /* '' */
.icon-lsi-selection:before { content: '\e894'; } /* '' */
.icon-lsi-building:before { content: '\e895'; } /* '' */