@font-face {
  font-family: 'lsfontset';
  src:  url('fonts/lsfontset.eot?ja9osj');
  src:  url('fonts/lsfontset.eot?ja9osj#iefix') format('embedded-opentype'),
    url('fonts/lsfontset.ttf?ja9osj') format('truetype'),
    url('fonts/lsfontset.woff?ja9osj') format('woff'),
    url('fonts/lsfontset.svg?ja9osj#lsfontset') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lsfontset' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lsi-ellipsis-vertical:before {
  content: "\e9c3";
}
.icon-lsi-3d:before {
  content: "\e900";
}
.icon-lsi-add-account:before {
  content: "\e901";
}
.icon-lsi-add-drive:before {
  content: "\e902";
}
.icon-lsi-add-fill:before {
  content: "\e903";
}
.icon-lsi-add-folder:before {
  content: "\e904";
}
.icon-lsi-add:before {
  content: "\e905";
}
.icon-lsi-alert-notification:before {
  content: "\e906";
}
.icon-lsi-annotate_1:before {
  content: "\e907";
}
.icon-lsi-annotate:before {
  content: "\e908";
}
.icon-lsi-announce-dashboard:before {
  content: "\e909";
}
.icon-lsi-applications:before {
  content: "\e90a";
}
.icon-lsi-auth:before {
  content: "\e90b";
}
.icon-lsi-back-level:before {
  content: "\e90c";
}
.icon-lsi-backwards:before {
  content: "\e90d";
}
.icon-lsi-bar-chart:before {
  content: "\e90e";
}
.icon-lsi-bell:before {
  content: "\e90f";
}
.icon-lsi-blankdoc:before {
  content: "\e910";
}
.icon-lsi-box:before {
  content: "\e911";
}
.icon-lsi-broken-link:before {
  content: "\e912";
}
.icon-lsi-bug:before {
  content: "\e913";
}
.icon-lsi-building:before {
  content: "\e914";
}
.icon-lsi-burrito:before {
  content: "\e915";
}
.icon-lsi-calendar:before {
  content: "\e916";
}
.icon-lsi-camera:before {
  content: "\e917";
}
.icon-lsi-cart:before {
  content: "\e918";
}
.icon-lsi-case:before {
  content: "\e919";
}
.icon-lsi-catalog:before {
  content: "\e91a";
}
.icon-lsi-channel .path1:before {
  content: "\e91b";
  color: rgb(50, 50, 50);
}
.icon-lsi-channel .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(50, 50, 50);
}
.icon-lsi-channel .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(50, 50, 50);
  opacity: 0.75;
}
.icon-lsi-check-fill:before {
  content: "\e91e";
}
.icon-lsi-check-in:before {
  content: "\e91f";
}
.icon-lsi-check-out:before {
  content: "\e920";
}
.icon-lsi-check:before {
  content: "\e921";
}
.icon-lsi-close:before {
  content: "\e922";
}
.icon-lsi-code:before {
  content: "\e923";
}
.icon-lsi-collapse:before {
  content: "\e924";
}
.icon-lsi-column-view:before {
  content: "\e925";
}
.icon-lsi-coma:before {
  content: "\e926";
}
.icon-lsi-comment-fill:before {
  content: "\e927";
}
.icon-lsi-compare:before {
  content: "\e928";
}
.icon-lsi-curves:before {
  content: "\e929";
}
.icon-lsi-data:before {
  content: "\e92a";
}
.icon-lsi-deep-zoom:before {
  content: "\e92b";
}
.icon-lsi-deliver:before {
  content: "\e92c";
}
.icon-lsi-desktop:before {
  content: "\e92d";
}
.icon-lsi-detail-view:before {
  content: "\e92e";
}
.icon-lsi-double-pannel:before {
  content: "\e92f";
}
.icon-lsi-down-arrow:before {
  content: "\e930";
}
.icon-lsi-download-file:before {
  content: "\e931";
}
.icon-lsi-download:before {
  content: "\e932";
}
.icon-lsi-driver:before {
  content: "\e933";
}
.icon-lsi-edit-pencil:before {
  content: "\e934";
}
.icon-lsi-edit:before {
  content: "\e935";
}
.icon-lsi-eject-drive:before {
  content: "\e936";
}
.icon-lsi-ellipsis:before {
  content: "\e937";
}
.icon-lsi-excel:before {
  content: "\e938";
}
.icon-lsi-expand:before {
  content: "\e939";
}
.icon-lsi-experiment:before {
  content: "\e93a";
}
.icon-lsi-explore:before {
  content: "\e93b";
}
.icon-lsi-export:before {
  content: "\e93c";
}
.icon-lsi-fcurve:before {
  content: "\e93d";
}
.icon-lsi-filter-fill:before {
  content: "\e93e";
}
.icon-lsi-filter-panel:before {
  content: "\e93f";
}
.icon-lsi-filter:before {
  content: "\e940";
}
.icon-lsi-flask:before {
  content: "\e941";
}
.icon-lsi-folder-upload:before {
  content: "\e942";
}
.icon-lsi-folder:before {
  content: "\e943";
}
.icon-lsi-form:before {
  content: "\e944";
}
.icon-lsi-form3:before {
  content: "\e945";
}
.icon-lsi-form4:before {
  content: "\e946";
}
.icon-lsi-form5:before {
  content: "\e947";
}
.icon-lsi-form6:before {
  content: "\e948";
}
.icon-lsi-forward:before {
  content: "\e949";
}
.icon-lsi-fov .path1:before {
  content: "\e94a";
  color: rgb(50, 50, 50);
}
.icon-lsi-fov .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-lsi-frames:before {
  content: "\e94c";
}
.icon-lsi-gear-fix:before {
  content: "\e94d";
}
.icon-lsi-grid-guide:before {
  content: "\e94e";
}
.icon-lsi-grid:before {
  content: "\e94f";
}
.icon-lsi-group-level:before {
  content: "\e950";
}
.icon-lsi-groups:before {
  content: "\e951";
}
.icon-lsi-guide:before {
  content: "\e952";
}
.icon-lsi-help:before {
  content: "\e953";
}
.icon-lsi-hierarchy:before {
  content: "\e954";
}
.icon-lsi-icon-logo:before {
  content: "\e955";
}
.icon-lsi-image:before {
  content: "\e956";
}
.icon-lsi-info-fill:before {
  content: "\e957";
}
.icon-lsi-info:before {
  content: "\e958";
}
.icon-lsi-instrumentation:before {
  content: "\e959";
}
.icon-lsi-lattice-grid:before {
  content: "\e95a";
}
.icon-lsi-left-arrow:before {
  content: "\e95b";
}
.icon-lsi-levels:before {
  content: "\e95c";
}
.icon-lsi-library:before {
  content: "\e95d";
}
.icon-lsi-line-box:before {
  content: "\e95e";
}
.icon-lsi-link:before {
  content: "\e95f";
}
.icon-lsi-list-filter:before {
  content: "\e960";
}
.icon-lsi-list-search:before {
  content: "\e961";
}
.icon-lsi-list-view:before {
  content: "\e962";
}
.icon-lsi-lists:before {
  content: "\e963";
}
.icon-lsi-location:before {
  content: "\e964";
}
.icon-lsi-lock:before {
  content: "\e965";
}
.icon-lsi-logo:before {
  content: "\e966";
}
.icon-lsi-mail-fill:before {
  content: "\e967";
}
.icon-lsi-mail:before {
  content: "\e968";
}
.icon-lsi-menu:before {
  content: "\e969";
}
.icon-lsi-merge:before {
  content: "\e96a";
}
.icon-lsi-message:before {
  content: "\e96b";
}
.icon-lsi-microscope:before {
  content: "\e96c";
}
.icon-lsi-minus-fill:before {
  content: "\e96d";
}
.icon-lsi-minus:before {
  content: "\e96e";
}
.icon-lsi-move-to:before {
  content: "\e96f";
}
.icon-lsi-move:before {
  content: "\e970";
}
.icon-lsi-multiple-gears:before {
  content: "\e971";
}
.icon-lsi-new-folder:before {
  content: "\e972";
}
.icon-lsi-nih:before {
  content: "\e973";
}
.icon-lsi-node-tree:before {
  content: "\e974";
}
.icon-lsi-note:before {
  content: "\e975";
}
.icon-lsi-notebooks:before {
  content: "\e976";
}
.icon-lsi-openfolder:before {
  content: "\e977";
}
.icon-lsi-pages:before {
  content: "\e978";
}
.icon-lsi-pdf:before {
  content: "\e979";
}
.icon-lsi-pin-selection:before {
  content: "\e97a";
}
.icon-lsi-pin:before {
  content: "\e97b";
}
.icon-lsi-plate:before {
  content: "\e97c";
}
.icon-lsi-play:before {
  content: "\e97d";
}
.icon-lsi-plots:before {
  content: "\e97e";
}
.icon-lsi-plugins:before {
  content: "\e97f";
}
.icon-lsi-plus-magnify:before {
  content: "\e980";
}
.icon-lsi-point-select:before {
  content: "\e981";
}
.icon-lsi-polus:before {
  content: "\e982";
}
.icon-lsi-polygon-tool:before {
  content: "\e983";
}
.icon-lsi-polygon:before {
  content: "\e984";
}
.icon-lsi-powerpoint:before {
  content: "\e985";
}
.icon-lsi-presentation:before {
  content: "\e986";
}
.icon-lsi-print:before {
  content: "\e987";
}
.icon-lsi-project-dashboard:before {
  content: "\e988";
}
.icon-lsi-project-tracking:before {
  content: "\e989";
}
.icon-lsi-project:before {
  content: "\e98a";
}
.icon-lsi-projects:before {
  content: "\e98b";
}
.icon-lsi-publications:before {
  content: "\e98c";
}
.icon-lsi-quality-check:before {
  content: "\e98d";
}
.icon-lsi-rack:before {
  content: "\e98e";
}
.icon-lsi-readmore:before {
  content: "\e98f";
}
.icon-lsi-rearrange:before {
  content: "\e990";
}
.icon-lsi-research-teams:before {
  content: "\e991";
}
.icon-lsi-reservation-dashboard:before {
  content: "\e992";
}
.icon-lsi-reservations:before {
  content: "\e993";
}
.icon-lsi-reserve:before {
  content: "\e994";
}
.icon-lsi-right-arrow:before {
  content: "\e995";
}
.icon-lsi-round-flask:before {
  content: "\e996";
}
.icon-lsi-ruler:before {
  content: "\e997";
}
.icon-lsi-sample:before {
  content: "\e998";
}
.icon-lsi-save:before {
  content: "\e999";
}
.icon-lsi-search:before {
  content: "\e99a";
}
.icon-lsi-section:before {
  content: "\e99b";
}
.icon-lsi-select-all:before {
  content: "\e99c";
}
.icon-lsi-selecter3:before {
  content: "\e99d";
}
.icon-lsi-selection-tool:before {
  content: "\e99e";
}
.icon-lsi-send-to:before {
  content: "\e99f";
}
.icon-lsi-session:before {
  content: "\e9a0";
}
.icon-lsi-settings:before {
  content: "\e9a1";
}
.icon-lsi-share:before {
  content: "\e9a2";
}
.icon-lsi-shelf:before {
  content: "\e9a3";
}
.icon-lsi-shelf2:before {
  content: "\e9a4";
}
.icon-lsi-skip-back:before {
  content: "\e9a5";
}
.icon-lsi-skip-forward:before {
  content: "\e9a6";
}
.icon-lsi-slide:before {
  content: "\e9a7";
}
.icon-lsi-sort:before {
  content: "\e9a8";
}
.icon-lsi-split:before {
  content: "\e9a9";
}
.icon-lsi-star-case:before {
  content: "\e9aa";
}
.icon-lsi-star-fill:before {
  content: "\e9ab";
}
.icon-lsi-star:before {
  content: "\e9ac";
}
.icon-lsi-storage:before {
  content: "\e9ad";
}
.icon-lsi-structures:before {
  content: "\e9ae";
}
.icon-lsi-structuresDashboard:before {
  content: "\e9af";
}
.icon-lsi-tag:before {
  content: "\e9b0";
}
.icon-lsi-tile-view:before {
  content: "\e9b1";
}
.icon-lsi-tools:before {
  content: "\e9b2";
}
.icon-lsi-trash:before {
  content: "\e9b3";
}
.icon-lsi-undo:before {
  content: "\e9b4";
}
.icon-lsi-unlock:before {
  content: "\e9b5";
}
.icon-lsi-up-arrow:before {
  content: "\e9b6";
}
.icon-lsi-upload:before {
  content: "\e9b7";
}
.icon-lsi-user-dashboard:before {
  content: "\e9b8";
}
.icon-lsi-user-list:before {
  content: "\e9b9";
}
.icon-lsi-user:before {
  content: "\e9ba";
}
.icon-lsi-video:before {
  content: "\e9bb";
}
.icon-lsi-view-team:before {
  content: "\e9bc";
}
.icon-lsi-view:before {
  content: "\e9bd";
}
.icon-lsi-wand:before {
  content: "\e9be";
}
.icon-lsi-warning:before {
  content: "\e9bf";
}
.icon-lsi-word:before {
  content: "\e9c0";
}
.icon-lsi-workflow:before {
  content: "\e9c1";
}
.icon-lsi-z-depth:before {
  content: "\e9c2";
}

